---
import ProductCard from '@/components/ProductCard.astro';
import SearchInput from '@/components/SearchInput.astro';
import Breadcrumb from '@/components/ui/Breadcrumb.astro';
import BreadcrumbItem from '@/components/ui/BreadcrumbItem.astro';
import Layout from '@/layouts/Layout.astro';
import { getProducts } from '@/lib/get-products';
export const prerender = false; 

const search = Astro.url.searchParams.get('search') || '';
const page = parseInt(Astro.url.searchParams.get('page') || "0") || 0;

const products = await getProducts(page, search);
---

<Layout title={`Productos - Precios Gamer`}>
    <Breadcrumb class="mb-4">
        <BreadcrumbItem name="Productos" />
    </Breadcrumb>
    <form method="get">
        <SearchInput value={search} />
    </form>
    <section class="grid md:grid-cols-3 gap-4 mt-4">
        {products.items.map(product => <ProductCard product={product} />)}
    </section>
</Layout>