---
interface Props {
    name: string;
    href?: string;
}

const {name, href} = Astro.props as Props;
---

<li>
    <div class="flex items-center">
      <svg class="rtl:rotate-180 w-3 h-3 text-neutral-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
      </svg>
      {href && <a href={href} class="ms-1 text-xs font-medium  md:ms-2 text-neutral-400 hover:text-white">{name}</a>}
      {!href && <span class="ms-1 text-xs font-medium md:ms-2 text-neutral-400">{name}</span>}
    </div>  
  </li>