---
import SearchInput from '@/components/SearchInput.astro';
---

<form method="get" action="/productos">
    <section class="w-full md:mt-20">
        <h1 class="text-center text-4xl font-semibold">Busca productos en tiendas gaming del pais</h1>    
        <p class="text-center text-neutral-400 text-xl">Encuentra la tienda que tenga el mejor precio!</p>
        <div class="flex justify-center mt-5">
            <SearchInput class="w-full md:max-w-2xl" />        
        </div>
    </section>
</form>